Mission to Mars

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
from splinter import Browser

 NASA Mars News

In [5]:

# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [6]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [7]:
title = soup.find('div', class_='content_title')
text = soup.find('div', class_='rollover_description_inner')

newsTitle = title.text
newsText = text.text

print(newsTitle)
print(newsText)

NASA's InSight Places First Instrument on Mars



In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

JPL Mars Space Images - Featured Image

In [8]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
url_base = 'https://www.jpl.nasa.gov'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

result = soup.find('article', class_='carousel_item').attrs

print(result)

{'alt': "Rock That Appeared in Front of Opportunity on 'Murray Ridge'", 'class': ['carousel_item'], 'style': "background-image: url('/spaceimages/images/wallpaper/PIA17761-1920x1200.jpg');"}

In [9]:
style_prop = str(result['style'])
trim1 = style_prop.replace("background-image:", "")
trim2 = trim1.replace(" url('", "")
image = trim2.replace("');", "")
image_url = url_base + image
print(image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17761-1920x1200.jpg

In [10]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

browser = Browser('chrome', **executable_path, headless=False)
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22374_hires.jpg'
browser.visit(featured_image_url)

In [11]:
url2 = "https://jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)

# Scrape the browser into soup and use soup to find the image of mars
# Save the image url to a variable called `img_url`
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find("img", class_="thumb")["src"]
img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url
# Use the requests library to download and save the image from the `img_url` above
import requests
import shutil
response = requests.get(img_url, stream=True)
with open('img.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
    
# Display the image with IPython.display
from IPython.display import Image
Image(url='img.jpg')

# Mars Weather

In [12]:
url = "https://twitter.com/marswxreport?lang=en"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

result = soup.find('div', class_="js-tweet-text-container")

print(result)

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2270 (2018-12-25), high -5C/23F, low -75C/-102F, pressure at 8.35 hPa, daylight 06:41-18:53</p>
</div>

In [13]:
tweet_text = result.p.text
tweet_text

'Sol 2270 (2018-12-25), high -5C/23F, low -75C/-102F, pressure at 8.35 hPa, daylight 06:41-18:53'

# Mars Facts

In [14]:
url = "https://space-facts.com/mars/"
table = pd.read_html(url)
print(table)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [15]:
type(table)

list

In [16]:
df = table[0]
df.columns = ["Parameters", "Values"]
df.head()

             Parameters                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [17]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameters</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameters</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [20]:
from splinter import Browser
import time

url = "http://web.archive.org/web/20181114171728/https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
url_base = "http://web.archive.org"

browser = Browser('chrome', headless=False)
browser.visit(url)

soup = BeautifulSoup(browser.html, 'html.parser')

result = soup.find_all('div', class_="item")

url_list = []

for y in result:
    link = y.find('a')['href']
    url_list.append(link)
    
print("Printing URLs LIST")
print(url_list)
print("")
print("---------------------------------------------------------------------------------------------------------------------")
print("Printing 'hemisphere_image_urls' Dictionary")
print("")

hemisphere_image_urls = []

for x in url_list:
    url = url_base + x
        
    browser.visit(url)
    
    # Sleep script to ensure the page fully loads
   # time.sleep(5)
    
    soup = BeautifulSoup(browser.html, 'html.parser')
    
    # Grab image url
    result1 = soup.find('img', class_="wide-image")
    image = url_base + result1["src"]
    
    # Grab page title and remove "Enhanced" from string
    result2 = soup.find('h2', class_='title')
    title = result2.text
    title = title.rsplit(' ', 1)[0]
    
    mars_hemi = {"title": title, "img_url": image}
    hemisphere_image_urls.append(mars_hemi)
    
    #time.sleep(10)
    
print(hemisphere_image_urls)

Printing URLs LIST
['/web/20181114171728/https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced', '/web/20181114171728/https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced', '/web/20181114171728/https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced', '/web/20181114171728/https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

---------------------------------------------------------------------------------------------------------------------
Printing 'hemisphere_image_urls' Dictionary

[{'title': 'Cerberus Hemisphere', 'img_url': 'http://web.archive.org/web/20181114182238im_/https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'http://web.archive.org/web/20181114182242im_/https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'http://web.archive.org/web/20181114182245im_/https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'http://web.archive.org/web/20181114182248im_/https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]